GroupingKKNClient/src/conf/xml-resources/web-service-references/GroupingKKNWS/wsdl/localhost_8080/GroupingKKNWS/GroupingKKNWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="GroupingKKNWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/GroupingKKNWS/GroupingKKNWS?xsd=1"/>
</xsd:schema>
</types>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="cekUser">
<part name="parameters" element="tns:cekUser"/>
</message>
<message name="cekUserResponse">
<part name="parameters" element="tns:cekUserResponse"/>
</message>
<message name="addDataMahasiswa">
<part name="parameters" element="tns:addDataMahasiswa"/>
</message>
<message name="addDataMahasiswaResponse">
<part name="parameters" element="tns:addDataMahasiswaResponse"/>
</message>
<message name="createGroupKKN">
<part name="parameters" element="tns:createGroupKKN"/>
</message>
<message name="getListMahasiswa">
<part name="parameters" element="tns:getListMahasiswa"/>
</message>
<message name="getListMahasiswaResponse">
<part name="parameters" element="tns:getListMahasiswaResponse"/>
</message>
<message name="getListGroup">
<part name="parameters" element="tns:getListGroup"/>
</message>
<message name="getListGroupResponse">
<part name="parameters" element="tns:getListGroupResponse"/>
</message>
<message name="addDataGroup">
<part name="parameters" element="tns:addDataGroup"/>
</message>
<message name="deleteDataGroup">
<part name="parameters" element="tns:deleteDataGroup"/>
</message>
<message name="editDataGroup">
<part name="parameters" element="tns:editDataGroup"/>
</message>
<message name="bacaInformasiKKN">
<part name="parameters" element="tns:bacaInformasiKKN"/>
</message>
<message name="bacaInformasiKKNResponse">
<part name="parameters" element="tns:bacaInformasiKKNResponse"/>
</message>
<message name="deleteDataMahasiswa">
<part name="parameters" element="tns:deleteDataMahasiswa"/>
</message>
<message name="editDataMahasiswa">
<part name="parameters" element="tns:editDataMahasiswa"/>
</message>
<message name="editDataMahasiswaResponse">
<part name="parameters" element="tns:editDataMahasiswaResponse"/>
</message>
<message name="simpanInformasiKKN">
<part name="parameters" element="tns:simpanInformasiKKN"/>
</message>
<portType name="GroupingKKNWS">
<operation name="addUser">
<input wsam:Action="http://WebServices/GroupingKKNWS/addUser" message="tns:addUser"/>
</operation>
<operation name="cekUser">
<input wsam:Action="http://WebServices/GroupingKKNWS/cekUserRequest" message="tns:cekUser"/>
<output wsam:Action="http://WebServices/GroupingKKNWS/cekUserResponse" message="tns:cekUserResponse"/>
</operation>
<operation name="addDataMahasiswa">
<input wsam:Action="http://WebServices/GroupingKKNWS/addDataMahasiswaRequest" message="tns:addDataMahasiswa"/>
<output wsam:Action="http://WebServices/GroupingKKNWS/addDataMahasiswaResponse" message="tns:addDataMahasiswaResponse"/>
</operation>
<operation name="createGroupKKN">
<input wsam:Action="http://WebServices/GroupingKKNWS/createGroupKKN" message="tns:createGroupKKN"/>
</operation>
<operation name="getListMahasiswa">
<input wsam:Action="http://WebServices/GroupingKKNWS/getListMahasiswaRequest" message="tns:getListMahasiswa"/>
<output wsam:Action="http://WebServices/GroupingKKNWS/getListMahasiswaResponse" message="tns:getListMahasiswaResponse"/>
</operation>
<operation name="getListGroup">
<input wsam:Action="http://WebServices/GroupingKKNWS/getListGroupRequest" message="tns:getListGroup"/>
<output wsam:Action="http://WebServices/GroupingKKNWS/getListGroupResponse" message="tns:getListGroupResponse"/>
</operation>
<operation name="addDataGroup">
<input wsam:Action="http://WebServices/GroupingKKNWS/addDataGroup" message="tns:addDataGroup"/>
</operation>
<operation name="deleteDataGroup">
<input wsam:Action="http://WebServices/GroupingKKNWS/deleteDataGroup" message="tns:deleteDataGroup"/>
</operation>
<operation name="editDataGroup">
<input wsam:Action="http://WebServices/GroupingKKNWS/editDataGroup" message="tns:editDataGroup"/>
</operation>
<operation name="bacaInformasiKKN">
<input wsam:Action="http://WebServices/GroupingKKNWS/bacaInformasiKKNRequest" message="tns:bacaInformasiKKN"/>
<output wsam:Action="http://WebServices/GroupingKKNWS/bacaInformasiKKNResponse" message="tns:bacaInformasiKKNResponse"/>
</operation>
<operation name="deleteDataMahasiswa">
<input wsam:Action="http://WebServices/GroupingKKNWS/deleteDataMahasiswa" message="tns:deleteDataMahasiswa"/>
</operation>
<operation name="editDataMahasiswa">
<input wsam:Action="http://WebServices/GroupingKKNWS/editDataMahasiswaRequest" message="tns:editDataMahasiswa"/>
<output wsam:Action="http://WebServices/GroupingKKNWS/editDataMahasiswaResponse" message="tns:editDataMahasiswaResponse"/>
</operation>
<operation name="simpanInformasiKKN">
<input wsam:Action="http://WebServices/GroupingKKNWS/simpanInformasiKKN" message="tns:simpanInformasiKKN"/>
</operation>
</portType>
<binding name="GroupingKKNWSPortBinding" type="tns:GroupingKKNWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="cekUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDataMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createGroupKKN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getListMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDataGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="deleteDataGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editDataGroup">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="bacaInformasiKKN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDataMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editDataMahasiswa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="simpanInformasiKKN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="GroupingKKNWS">
<port name="GroupingKKNWSPort" binding="tns:GroupingKKNWSPortBinding">
<soap:address location="http://localhost:8080/GroupingKKNWS/GroupingKKNWS"/>
</port>
</service>
</definitions>